<!--
body {position: relative; margin: 0; padding: 0;}

div#links         {position: absolute; top: 81px; left: 0; width: 164px; height: 700px; font: 15px Verdana, sans-serif; z-index: 100;}
div#links a       {display: block; text-align: center; font: bold 1em sans-serif; padding: 5px 10px; margin: 0 0 1px; border-width: 0; text-decoration: none; color: #FFC; background: #444; border-right: solid #963;}
div#links a:hover {color: #411; background: #AAA; border-right: 3px solid white;}

div#links a span       {display: none;}
div#links a:hover span {display: block; position: absolute; top: 50px; left: 0; width: 125px; padding: 5px; margin: 10px; z-index: 100; color: black; background: transparent; font: 10px Verdana, sans-serif; text-align: center;}

div#content   {position: absolute; top: 26px; left: 161px; right: 25px; color: black; font-family: Arial, sans-serif; padding: 10px; border: solid #963;}

div#content p {margin: 0 1em 1em; padding: 0; line-height: 1.3;}
h1 {margin: 0.5em -4px 0.5em; padding: 0.33em 0 0.167em; font: bold 200% sans-serif; vertical-align: middle; color: #024; letter-spacing: 0.5em;}

div#content a:link {color: white;}
div#content a:visited {color: purple;}
div#content a:link:hover {color: yellow;}
div#content a:visited:hover {color: maroon;}

body           {background: white   url(reel-bg.jpg)     0 0 no-repeat fixed; background-size:100% 100%;}
div#content    {background: white   url(reel-ripple.jpg) 0 0 no-repeat fixed; background-size:100% 100%;}
div#content h1 {background: #CCC    url(reel-gray.jpg)   0 0 no-repeat fixed; border: 1px solid gray; padding: 0.5em 1em 0.25em; background-size:100% 100%;}
div#content h2 {background: #CBB196 url(reel-tan.jpg)    0 0 no-repeat fixed; color: white; padding: 0.5em; margin: 0 -12px 0.5em; border-color: #963; border-width: 1px 0; border-style: solid; background-size:100% 100%;}

copyright {color: white; font-style: italic; font-size: 70%; }

span.uTitle {text-transform: capitalize; }
span.uDirector {text-transform: capitalize; }

table.uMovies td                 {text-transform: capitalize; }
table.uMovies tr.highlight:hover {background-color: #BBB; }

-->
